@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 150%;
    line-height: 1.4em;
    background: url("images/IMG_6769.JPG");
    margin: 0;
    color: #1a0f13;
    color: rgba(26,15,19,1);
}

h1, h2, h3, h4, h5, h6 {
/*    font-family: 'Alfa Slab One', cursive; */
    color: purple;
    text-transform: capitalize;
}

p   {
}

a:link {
    color: red;
}

a:visited, a:hover {
    color: darkred;
}
a:focus, a:hover {
    background: yellow;
}
header {
    background: white;
/*    padding: 2.5%;*/
}

#primary-nav {
    text-align: right;
}

nav li {
    display: inline;
    padding: 10px;
}

main {
/*    margin: 15%;*/
}
footer, footer h3 {
    background: black;
    padding: 0 2.5%;
    color: white;
}

            /* GRID LAYOUT */

			main {
				display: grid;
				/* rows = height/vertical, columns = width/horizontal */
			}

			/* SET UP ROWS/COLUMNS USING GRID LINE NUMBERS */
			header {
				grid-row-start: 1;
				grid-row-end: 2;
				grid-column-start: 1;
				grid-column-end: 4;
			}

			#one {
				grid-row-start: 2;
				grid-row-end: 3;
				grid-column-start: 1;
				grid-column-end: 2;
			}

			#two {
				grid-row-start: 2;
				grid-row-end: 3;
				grid-column-start: 2;
				grid-column-end: 3;
			}

			#three {
				grid-row-start: 2;
				grid-row-end: 3;
				grid-column-start: 3;
				grid-column-end: 4;
			}

			footer {
				grid-row-start: 3;
				grid-row-end: 4;
				grid-column-start: 1;
				grid-column-end: 4;
			}

			/* SET UP ROWS/COLUMNS USING GRID AREA NAMES */
			/*#one { grid-area: header; }
			#two { grid-area: ads; }
			#three { grid-area: main; }
			#four { grid-area: links; }
			#five { grid-area: footer; }*/

			/* AESTHETICS */
			header { background-color: red; }
			#one { background-color: orange; }
			#two { background-color: green; }
			#three { background-color: blue; }
			footer { background-color: purple; }

